<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="heroes"> <i class="material-icons">stars</i>
      </a>
    </li>
    <li>
      <a routerLink="dashboard"> <i class="material-icons">aspect_ratio</i>
      </a>
    </li>
    <li>
      <a routerLink="angularReddit"> <i class="fab fa-reddit fa-2x"></i>
      </a>
    </li>
    <li>
      <a routerLink="inventory"><i class="material-icons">
        shopping_cart
      </i></a>
    </li>
  </ul>
</nav>
